/*Base GRID layout*/
body{
    display: grid;
    grid-template-areas:    "header"
                            "nav"
                            "main"
                            "footer";

    /*Center the website*/
    max-width: 1200px;
    margin: auto;

}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 20fr;
}

nav {
    grid-area: nav;
    margin-top: 8px;
    margin-bottom: 8px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    grid-area: footer;
}
/*End -- GRID CSS base layout config*/
