/*Specifc css for the page index.html (main website page) */
/* Put an image in the centre of a content */
.small-img {
    width: 225px;
    height: 125px;
}

.medium-img {
    width: 350px;
    height: 250px;
}

.big-img {
    width: 600px;
    height: 500px;
}
