.dataContainer{
    background:rgba(0,0,0,0.95);
    height:100%;
    width:100%;
    position: absolute;
    left:0px;
    top:0px;
}

.locations-parent{
    height:380px;
    overflow: auto;
}
.dialogBox{
    background-color: white;
    border-radius: 3px;
    height:250px;
    width: 400px;
    z-index: 10;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,1);
    position: absolute;
    left:430px;
    top:240px;
}
.dialogBoxHeader{
    background-color:darkgreen;
    padding: 15px 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.dialogBoxHeader>span{
    padding: 0px 110px;
    color: white;
    font-size: 1.5em;
    letter-spacing: 1px;
}

#map-container{
    display:none;
    position:absolute;
    left: 0px;
    top:0px;
    height:100%;
    width: 100%;
    background-color: rgba(0,0,0,1);
}
.map-panel{
    position: absolute;
    width:70%;
    height:90%;
    margin-top: 35px;

}
.mapfull{
    position: absolute;
    width:100%;
    height:100%;
    margin-top: 35px;

}

#map-container>span{
    float:right;
    padding-right: 10px;
    background: #db0000;
    padding-left: 10px;
    color: wheat;
    z-index: 10;
    font-size: 30px;
}
#map-container>span:hover{
    cursor: pointer;
    color:white;
    background: #a30001;
}
main h2{
    color: #1d8c28;
    text-decoration: underline;

}
#selectBox{
    margin-top: 50px;
    margin-left: 100px;
}
#selectBox>#sele{
    width: 200px;
    height: 50px;
    border-radius: 3px;
}

#selectBox>#sele:hover{
    background-color:rgba(138,138,138,0.85);
    color: white;
}
.locations-parent .mapimage{
    border-width: 1px;
    border-style:solid;
    border-color: #3e7327;
    border-radius: 5px;
}
.locations-parent .det{
    margin-left: 50px;

}
.locations-parent .spec-loc{
    padding: 30px 15px;
}
.locations-parent .mapimage:hover{
    box-shadow: 0px 0px 10px 5px #888888;
}

.locations-parent {
    background-color: rgba(148, 228, 113, 0.38);
    border-radius: 5px;
}

div#map div{
    float: right;
}
div#directions{
    display: none;
    position: absolute;
    direction: ltr;
    Z-INDEX: 20;
    margin-left: 932px;
    width: 400px;
    height: 556px;
    margin-bottom: 600px;
    top: 35px;
    background-color: aliceblue;
    color:black;
    overflow: scroll;
}
table.adp-placemark{
    background-color: #5cb85c;
}